[submodule "sources_non_forked/vim-gitgutter"]
	path = sources_non_forked/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "sources_non_forked/SimpylFold"]
	path = sources_non_forked/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "sources_non_forked/vim-airline-themes"]
	path = sources_non_forked/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "sources_non_forked/goyo.vim"]
	path = sources_non_forked/goyo.vim
    url = https://github.com/junegunn/goyo.vim.git
[submodule "sources_non_forked/nerdtree"]
	path = sources_non_forked/nerdtree
    url = https://github.com/scrooloose/nerdtree.git


; bufexplorer
; mayansmoke
